%div{ class: "content-container #{content.outer_background || 'gray'}-bg padding-top60 padding-bottom60" }
  %div{ class: "container detailed-advantage #{content.inner_background || 'white'}-bg"}
    .margin-horizontal40
      = kramdown(content.text)